**************Hostaname:-  "{{ ansible_hostname }}" *********************
**************IP ADDRESS:- "{{ ansible_all_ipv4_addresses }}" **********************
**************OS and Version:- "{{ ansible_distribution }}" "{{ ansible_distribution_version }}"  **************
************** Hello Pramod welcome to our Family*****************************
